extends ../layout

block content


  form(action="/books", method="post") Add A Book!
    input(type="text" name="book[title]", placeholder="Book Title")
    input(type="text" name="book[authors][0][name]", placeholder="Author name")
    input(type="text" name="book[authors][1][name]", placeholder="Author name")
    input(type="text" name="book[authors][2][name]", placeholder="Author name")
    select(name="book[genres]:focus {border: 3px solid #555}" multiple)
      for genre in genres
        option(value=genre.id)= genre.title
    input(type="submit", value="Submit your book!")
