body {
  padding: 50px;
  font-family: 'Anton', sans-serif;
  display: flex;
  flex-direction: column;
  flex-basis: auto;
  margin: 50px;
  background-color: black;
}

a {
  color: #ffaa00;
}

form {
  border-style: inset;
  border-color: #4B4551;
  border-width: thin;
}

input[type=text] {
    background-color: white;
    background-position: 05px 05px;
    width: 50px;
}

img {
  height: auto;
  max-width: 100%;
  display: flex;
  justify-content: center;
}

.image {
  height: 300px;
  width: 200px;
}

.container-fluid {
  display: flex;
  align-items: stretch;
}

.buttons {
  position: relative;
  padding-top: 30px;
  margin-right: 60px;
}

.delete-btn,
.like-btn {
  display: inline-block;
  cursor: pointer;
}

.description {
  color: white;
}

.total-price {
  color: white;
}

/*.delete-btn {
  width: 18px;
  height: 17px;
}

.like-btn {
  position: absolute;
  top: 9px;
  left: 15px;
  width: 20px;
  height: 20px;
  background-repeat: no-repeat;
}*/
